@page "/r"
@page "/r/{*RedditRedirect}"
@using HeardIt.Models
@using HeardIt.Components
@using Google.Cloud.TextToSpeech.V1

@inject IHttpClientFactory _clientFactory
@inject NavigationManager _navManager



@if (SettingsDialogOpen)
{
    <SettingsModal OnClose="@OnSettingsDialogClose" FormSubmitted="@SettingsChanged" SettingsModel="@SettingsModel"></SettingsModal>
}

<div id="post-display" class="flex flex-row justify-center w-full content-center items-center">
    <button class="text-gray-600" onclick="@DecrementPost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
        </svg>
    </button>
    
    <PostDisplay Post="@MainPost" OpenSettingsDialog="@OpenSettingsDialog" PostLoading="@PostLoading"></PostDisplay>
    @if (!PostLoading && MainPost != null)
    {
        var readString = MainPost.Data.Title + "..." + MainPost.Data.Selftext;
        <GoogleTest Client="@Client" VoiceSelectionParams="@VoiceSelectionParams" inputString="@readString"></GoogleTest>
    }

    <button class="text-gray-600" onclick="@IncrementPost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
        </svg>
    </button>
</div>


<div id="comment-display" class="flex flex-row justify-center w-full content-center items-center">
    <div class="rounded mx-8 overflow-hidden border w-full lg:w-10/12 md:w-10/12 bg-gray-50 shadow-2xl">
        <div class="w-full flex justify-between items-center p-3 bg-gray-500">
            <span class="h-full font-bold text-lg text-white">Comments</span>
        </div>
        @if (!CommentsLoading && Comments != null)
        {
            foreach (var comment in Comments)
            {
                if (comment.Kind != "more")
                {
                    <CommentsDisplay CurrentComment="@comment" CommentsLoading="@CommentsLoading"/>
                    <GoogleTest Client="@Client" VoiceSelectionParams="@VoiceSelectionParams" inputString="@comment.Data.Body"></GoogleTest>
                }
            }
        }
        else
        {
            <div class="px-5 pb-2 shadow-inner">
                <div class="pt-2">
                    <div class="mb-2 my-2 text-sm text-gray-500 text-justify flex flex-col justify-center items-center">
                        <svg class="animate-spin -ml-1 mr-3 h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@code {
    private SettingsModel SettingsModel { get; set; } = new() {SubredditInput = "AskReddit"};
    private Subreddit? SubReddit { get; set; }
    private bool SettingsDialogOpen { get; set; }
    //All Posts Loaded From Subreddit Page
    private Posts[]? Posts { get; set; }
    //Currently Displayed Post
    private Post? MainPost { get; set; }
    //All Comments for Current Post
    private Post[]? Comments { get; set; }

    private Post? CurrentComment { get; set; }

    private int CurrentPostIndex { get; set; } = 0;
    private int CurrentCommentIndex { get; set; } = 0;


    private bool PostLoading { get; set; } = true;
    private bool CommentsLoading { get; set; } = true;

    private string? QueryString { get; set; }

    [Parameter]
    public string? RedditRedirect { get; set; }

    public TextToSpeechClient Client { get; set; }
    public VoiceSelectionParams VoiceSelectionParams { get; set; }

    private async void DecrementPost()
    {
        if (CurrentPostIndex == 0)
        {
            return;
        }
        if (Posts == null || Posts.Length == 0) return;
        --CurrentPostIndex;
        if (Posts[CurrentPostIndex] == null || Posts[CurrentPostIndex].Data == null || Posts[CurrentPostIndex].Data.Url == null) return;
        await LoadPost(Posts[CurrentPostIndex].Data.Permalink);
    }

    private async void IncrementPost()

    {
        if (Posts == null || Posts.Length == 0)
        {
            await LoadSubredditPosts("", true);
            return;
        }
        if (CurrentPostIndex == Posts.Length - 1)
        {
            var after = MainPost.Kind + "_" + MainPost.Data.Id;
            ++CurrentPostIndex;
            await LoadSubredditPosts(after);
            return;
        }
        ++CurrentPostIndex;
        if (Posts[CurrentPostIndex] == null || Posts[CurrentPostIndex].Data == null || Posts[CurrentPostIndex].Data.Url == null) return;
        await LoadPost(Posts[CurrentPostIndex].Data.Permalink);
    }

    private async Task SettingsChanged(SettingsModel settings)
    {
        SettingsModel = settings;
        SettingsDialogOpen = false;
        await LoadSubredditPosts("", true);
    }

    private void OnSettingsDialogClose(bool accepted)
    {
        SettingsDialogOpen = false;
    }

    private void OpenSettingsDialog()
    {
        SettingsDialogOpen = true;
    }

    protected override async Task OnInitializedAsync()
    {
        Client = await TextToSpeechClient.CreateAsync();
        VoiceSelectionParams = new VoiceSelectionParams {LanguageCode = "en-US", SsmlGender = SsmlVoiceGender.Male};
        QueryString = _navManager.ToAbsoluteUri(_navManager.Uri).Query;
        if (!string.IsNullOrEmpty(RedditRedirect))
        {
            if (RedditRedirect.Contains("/") && RedditRedirect.Split("/")[1] != null && RedditRedirect.Split("/")[1] == "comments")
            {
                SettingsModel.SubredditInput = RedditRedirect.Split("/")[0];
                await LoadPost(_navManager.ToAbsoluteUri(_navManager.Uri).AbsolutePath, QueryString);
            }
            else
            {
                SettingsModel.SubredditInput = RedditRedirect;
                await LoadSubredditPosts();
            }
        }
        else
        {
            await LoadSubredditPosts();
        }
    }

    private async Task LoadSubredditPosts(string after = "", bool newSub = false)
    {
        var url = $"https://www.reddit.com/r/{SettingsModel.SubredditInput}.json{QueryString}";
        if (!string.IsNullOrEmpty(after))
        {
            url = url + $"&after={after}";
        }

        var request = new HttpRequestMessage(HttpMethod.Get, url);
        var client = _clientFactory.CreateClient();

        PostLoading = true;
        CommentsLoading = true;
        HttpResponseMessage responseMessage = await client.SendAsync(request);

        if (responseMessage.IsSuccessStatusCode)
        {
            var jsonString = await responseMessage.Content.ReadAsStringAsync();
            SubReddit = Subreddit.FromJson(jsonString);
            if (newSub)
            {
                Posts = SubReddit.Data.Posts;
                CurrentPostIndex = 0;
            }
            else
            {
                Posts = Posts != null ? Posts.Concat(SubReddit.Data.Posts).ToArray() : SubReddit.Data.Posts;
            }

            await LoadPost(Posts[CurrentPostIndex].Data.Permalink);
            PostLoading = false;
            CommentsLoading = false;
        }
    }

    private async Task LoadPost(string permalink, string query = "")
    {
        var url = "https://reddit.com" + permalink + ".json" + query;
        var request = new HttpRequestMessage(HttpMethod.Get, url);
        var client = _clientFactory.CreateClient();

        PostLoading = true;
        CommentsLoading = true;
        HttpResponseMessage responseMessage = await client.SendAsync(request);

        if (responseMessage.IsSuccessStatusCode)
        {
            var jsonString = await responseMessage.Content.ReadAsStringAsync();
            var postPages = PostPage.FromJson(jsonString);
            MainPost = postPages[0].Data.Children[0];
            Comments = postPages[1].Data.Children;
            CurrentComment = Comments[0];
            CurrentCommentIndex = 0;
            PostLoading = false;
            CommentsLoading = false;
        }
        StateHasChanged();
    }

}